
.text-center{
    padding-top: 15px;
    text-align: center;
    margin-top: 40px;
}
.container{

    margin: 0 auto;
    align-items: center;
    background-color: rgb(226, 217, 217);
    width: 400px;
    border-radius: 10px;
   
}


.input{
    text-align: right; 
    width: 98%; 
    height: 75px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

button {
  margin: 11px;
  margin-left: 32px;
  padding: 18px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 40%;
  font-weight: bold;
  
}
button:hover{
    background-color: rgb(124, 118, 118);
}